In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('merged_clean.csv')

In [3]:
data.head()

,date.x,state,location,year,month.x,mmwr_week,covid_19_deaths,date.y,distributed,distributed_janssen,...,bivalent_booster_12plus_pop_pct,bivalent_booster_18plus,bivalent_booster_18plus_pop_pct,bivalent_booster_65plus,bivalent_booster_65plus_pop_pct,month.y,day_of_week,region,month,season
0,2020-01-04,Alabama,AL,2020,1,1,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South,1,Winter
1,2020-01-11,Alabama,AL,2020,1,2,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South,1,Winter
2,2020-01-18,Alabama,AL,2020,1,3,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South,1,Winter
3,2020-01-25,Alabama,AL,2020,1,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South,1,Winter
4,2020-02-01,Alabama,AL,2020,2,5,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South,2,Winter

In [4]:
contain_nulls = data.columns[data.isna().any()].tolist()
len(contain_nulls)

110

In [5]:
print(contain_nulls)

['covid_19_deaths', 'date.y', 'distributed', 'distributed_janssen', 'distributed_moderna', 'distributed_pfizer', 'distributed_novavax', 'distributed_unk_manuf', 'dist_per_100k', 'distributed_per_100k_5plus', 'distributed_per_100k_12plus', 'distributed_per_100k_18plus', 'distributed_per_100k_65plus', 'administered', 'administered_5plus', 'administered_12plus', 'administered_18plus', 'administered_65plus', 'administered_janssen', 'administered_moderna', 'administered_pfizer', 'administered_novavax', 'administered_unk_manuf', 'admin_per_100k', 'admin_per_100k_5plus', 'admin_per_100k_12plus', 'admin_per_100k_18plus', 'admin_per_100k_65plus', 'recip_administered', 'administered_dose1_recip', 'administered_dose1_pop_pct', 'administered_dose1_recip_5plus', 'administered_dose1_recip_5plus_pop_pct', 'administered_dose1_recip_12plus', 'administered_dose1_recip_12plus_pop_pct', 'administered_dose1_recip_18plus', 'administered_dose1_recip_18plus_pop_pct', 'administered_dose1_recip_65plus', 'administered_dose1_recip_65plus_pop_pct', 'series_complete_yes', 'series_complete_pop_pct', 'series_complete_5plus', 'series_complete_5plus_pop_pct', 'series_complete_12plus', 'series_complete_12plus_pop_pct', 'series_complete_18plus', 'series_complete_18plus_pop_pct', 'series_complete_65plus', 'series_complete_65plus_pop_pct', 'series_complete_janssen', 'series_complete_moderna', 'series_complete_pfizer', 'series_complete_novavax', 'series_complete_unk_manuf', 'series_complete_janssen_5plus', 'series_complete_moderna_5plus', 'series_complete_pfizer_5plus', 'series_complete_unk_manuf_5plus', 'series_complete_janssen_12plus', 'series_complete_moderna_12plus', 'series_complete_pfizer_12plus', 'series_complete_unk_manuf_12plus', 'series_complete_janssen_18plus', 'series_complete_moderna_18plus', 'series_complete_pfizer_18plus', 'series_complete_unk_manuf_18plus', 'series_complete_janssen_65plus', 'series_complete_moderna_65plus', 'series_complete_pfizer_65plus', 'series_complete_unk_manuf_65plus', 'additional_doses', 'additional_doses_vax_pct', 'additional_doses_5plus', 'additional_doses_5plus_vax_pct', 'additional_doses_12plus', 'additional_doses_12plus_vax_pct', 'additional_doses_18plus', 'additional_doses_18plus_vax_pct', 'additional_doses_50plus', 'additional_doses_50plus_vax_pct', 'additional_doses_65plus', 'additional_doses_65plus_vax_pct', 'additional_doses_moderna', 'additional_doses_pfizer', 'additional_doses_janssen', 'additional_doses_unk_manuf', 'second_booster', 'second_booster_50plus', 'second_booster_50plus_vax_pct', 'second_booster_65plus', 'second_booster_65plus_vax_pct', 'second_booster_janssen', 'second_booster_moderna', 'second_booster_pfizer', 'second_booster_unk_manuf', 'administered_bivalent', 'admin_bivalent_pfr', 'admin_bivalent_mod', 'dist_bivalent_pfr', 'dist_bivalent_mod', 'bivalent_booster_5plus', 'bivalent_booster_5plus_pop_pct', 'bivalent_booster_12plus', 'bivalent_booster_12plus_pop_pct', 'bivalent_booster_18plus', 'bivalent_booster_18plus_pop_pct', 'bivalent_booster_65plus', 'bivalent_booster_65plus_pop_pct', 'month.y', 'day_of_week']

In [6]:
dict_null_columns = {}
for x in contain_nulls:
    dict_null_columns[x] = data[x].isna().sum()

# processing

In [23]:
# imputing the distributed columns with 0 before December 2020 -> no vaccines yet available

In [7]:
data.sort_values(by=['date.x'], inplace=True)

In [12]:
dates = data.loc[~pd.isna(data['distributed'])]

In [29]:
dates.head()

,date.x,state,location,year,month.x,mmwr_week,covid_19_deaths,date.y,distributed,distributed_janssen,...,bivalent_booster_12plus_pop_pct,bivalent_booster_18plus,bivalent_booster_18plus_pop_pct,bivalent_booster_65plus,bivalent_booster_65plus_pop_pct,month.y,day_of_week,region,month,season
50,2020-12-19,Alabama,AL,2020,12,51,390.0,2020-12-16,39000.0,0.0,...,NaN,NaN,NaN,NaN,NaN,12.0,4.0,South,12,Winter
1520,2020-12-19,Delaware,DE,2020,12,51,69.0,2020-12-16,8775.0,0.0,...,NaN,NaN,NaN,NaN,NaN,12.0,4.0,South,12,Winter
890,2020-12-19,California,CA,2020,12,51,2942.0,2020-12-16,195000.0,0.0,...,NaN,NaN,NaN,NaN,NaN,12.0,4.0,West,12,Winter
470,2020-12-19,Arizona,AZ,2020,12,51,734.0,2020-12-16,58500.0,0.0,...,NaN,NaN,NaN,NaN,NaN,12.0,4.0,West,12,Winter
4670,2020-12-19,Michigan,MI,2020,12,51,783.0,2020-12-16,9750.0,0.0,...,NaN,NaN,NaN,NaN,NaN,12.0,4.0,Midwest,12,Winter

In [15]:
dates['date.x'].count()

6500

In [19]:
columns_l = ['distributed',
 'distributed_janssen',
 'distributed_moderna',
 'distributed_pfizer',
 'distributed_novavax',
 'distributed_unk_manuf',
 'dist_per_100k',
 'distributed_per_100k_5plus',
 'distributed_per_100k_12plus',
 'distributed_per_100k_18plus',
 'distributed_per_100k_65plus']

In [20]:
data.loc[pd.isna(data['distributed']), columns_l] = 0

In [21]:
data

,date.x,state,location,year,month.x,mmwr_week,covid_19_deaths,date.y,distributed,distributed_janssen,...,bivalent_booster_12plus_pop_pct,bivalent_booster_18plus,bivalent_booster_18plus_pop_pct,bivalent_booster_65plus,bivalent_booster_65plus_pop_pct,month.y,day_of_week,region,month,season
0,2020-01-04,Alabama,AL,2020,1,1,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South,1,Winter
3780,2020-01-04,Louisiana,LA,2020,1,1,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South,1,Winter
9660,2020-01-04,Virginia,VA,2020,1,1,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South,1,Winter
3570,2020-01-04,Kentucky,KY,2020,1,1,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South,1,Winter
3360,2020-01-04,Kansas,KS,2020,1,1,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Midwest,1,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,2024-01-06,New Hampshire,NH,2024,1,1,12.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,East,1,Winter
6089,2024-01-06,Nevada,NV,2024,1,1,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West,1,Winter
5879,2024-01-06,Nebraska,NE,2024,1,1,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Midwest,1,Winter
7979,2024-01-06,Oregon,OR,2024,1,1,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West,1,Winter
10919,2024-01-06,Puerto Rico,PR,2024,1,1,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico,1,Winter

In [24]:
data['distributed'].describe()

count    1.092000e+04
mean     7.078837e+06
std      1.377893e+07
min      0.000000e+00
25%      0.000000e+00
50%      1.591612e+06
75%      8.334924e+06
max      1.211079e+08
Name: distributed, dtype: float64

In [ ]:
# dropping unnecessary columns -> duplicate values

In [25]:
columns_to_drop = ['state', 'month.x', 'month.y', 'day_of_week']
data = data.drop(columns=columns_to_drop)

In [ ]:
# dummy variables

In [27]:
data = pd.get_dummies(data, columns=['region', 'season'])

In [30]:
# dropping rows where covid deaths is NaN

In [32]:
data.shape

(10920, 122)

In [31]:
data.loc[pd.isna(data['covid_19_deaths'])]

,date.x,location,year,mmwr_week,covid_19_deaths,date.y,distributed,distributed_janssen,distributed_moderna,distributed_pfizer,...,month,region_East,region_Midwest,region_Puerto Rico,region_South,region_West,season_Fall,season_Spring,season_Summer,season_Winter
3361,2020-01-11,KS,2020,2,NaN,NaN,0.0,0.0,0.0,0.0,...,1,0,1,0,0,0,0,0,0,1
7562,2020-01-18,OK,2020,3,NaN,NaN,0.0,0.0,0.0,0.0,...,1,0,0,0,1,0,0,0,0,1
842,2020-01-18,CA,2020,3,NaN,NaN,0.0,0.0,0.0,0.0,...,1,0,0,0,0,1,0,0,0,1
6723,2020-01-25,NY,2020,4,NaN,NaN,0.0,0.0,0.0,0.0,...,1,1,0,0,0,0,0,0,0,1
3,2020-01-25,AL,2020,4,NaN,NaN,0.0,0.0,0.0,0.0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7139,2024-01-06,NC,2024,1,NaN,NaN,0.0,0.0,0.0,0.0,...,1,0,0,0,1,0,0,0,0,1
6719,2024-01-06,NM,2024,1,NaN,NaN,0.0,0.0,0.0,0.0,...,1,0,0,0,0,1,0,0,0,1
5879,2024-01-06,NE,2024,1,NaN,NaN,0.0,0.0,0.0,0.0,...,1,0,1,0,0,0,0,0,0,1
7979,2024-01-06,OR,2024,1,NaN,NaN,0.0,0.0,0.0,0.0,...,1,0,0,0,0,1,0,0,0,1
10919,2024-01-06,PR,2024,1,NaN,NaN,0.0,0.0,0.0,0.0,...,1,0,0,1,0,0,0,0,0,1

In [33]:
data = data.dropna(subset=['covid_19_deaths'])

In [34]:
data.shape

(8949, 122)

In [35]:
# new csv

In [36]:
data.to_csv('merged_cleaned_processed.csv')