In [1]:
import pandas as pd

In [2]:
data_vac = pd.read_csv('data/COVID-19_Vaccinations_in_the_United_States_Jurisdiction_20240111.csv')
data_death = pd.read_csv('data/deaths_with_abbs.csv')

In [3]:
data_vac.head()

,Date,MMWR_week,Location,Distributed,Distributed_Janssen,Distributed_Moderna,Distributed_Pfizer,Distributed_Novavax,Distributed_Unk_Manuf,Dist_Per_100K,...,Dist_Bivalent_PFR,Dist_Bivalent_MOD,Bivalent_Booster_5Plus,Bivalent_Booster_5Plus_Pop_Pct,Bivalent_Booster_12Plus,Bivalent_Booster_12Plus_Pop_Pct,Bivalent_Booster_18Plus,Bivalent_Booster_18Plus_Pop_Pct,Bivalent_Booster_65Plus,Bivalent_Booster_65Plus_Pop_Pct
0,05/10/2023,19,NE,5481710,152400,1647380,2905630,7400.0,0,283379,...,575480.0,193420.0,340508.0,18.9,332054.0,20.5,319161.0,21.9,151146.0,48.4
1,05/10/2023,19,LA,10282120,330500,3807980,5164550,10100.0,0,221178,...,640590.0,328400.0,359506.0,8.3,356199.0,9.1,349934.0,9.8,184844.0,24.9
2,05/10/2023,19,GA,28727475,869100,9763000,14773655,43400.0,0,270569,...,2255000.0,1023320.0,1126791.0,11.3,1103841.0,12.3,1067468.0,13.2,476297.0,31.4
3,05/10/2023,19,WY,1281755,49300,490040,585605,3700.0,0,221466,...,102510.0,50600.0,65920.0,12.1,64919.0,13.2,63244.0,14.2,34832.0,35.1
4,05/10/2023,19,CO,17769135,501900,5402640,9029715,43600.0,0,308560,...,2033760.0,757520.0,1268501.0,23.4,1229981.0,24.9,1176686.0,26.2,462990.0,55.0

In [4]:
data_death.head()

,Data as of,Start Date,End Date,Group,Year,Month,MMWR Week,Week Ending Date,State,COVID-19 Deaths,Total Deaths,Percent of Expected Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote,Location
0,01/11/2024,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,0.0,60170.0,98.0,4111.0,0.0,434.0,4545.0,NaN,NaN
1,01/11/2024,01/05/2020,01/11/2020,By Week,2020,NaN,2.0,01/11/2020,United States,1.0,60734.0,97.0,4153.0,1.0,475.0,4628.0,NaN,NaN
2,01/11/2024,01/12/2020,01/18/2020,By Week,2020,NaN,3.0,01/18/2020,United States,2.0,59362.0,98.0,4066.0,2.0,468.0,4534.0,NaN,NaN
3,01/11/2024,01/19/2020,01/25/2020,By Week,2020,NaN,4.0,01/25/2020,United States,3.0,59162.0,99.0,3915.0,0.0,500.0,4418.0,NaN,NaN
4,01/11/2024,01/26/2020,02/01/2020,By Week,2020,NaN,5.0,02/01/2020,United States,0.0,58834.0,99.0,3818.0,0.0,481.0,4299.0,NaN,NaN

In [5]:
# creating a new column for year in order to merge our two datasets based on year
data_vac['year'] = pd.DatetimeIndex(data_vac['Date']).year

In [6]:
data_vac.dtypes

Date                                object
MMWR_week                            int64
Location                            object
Distributed                          int64
Distributed_Janssen                  int64
                                    ...
Bivalent_Booster_18Plus            float64
Bivalent_Booster_18Plus_Pop_Pct    float64
Bivalent_Booster_65Plus            float64
Bivalent_Booster_65Plus_Pop_Pct    float64
year                                 int64
Length: 110, dtype: object

In [7]:
data_death.dtypes

Data as of                                   object
Start Date                                   object
End Date                                     object
Group                                        object
Year                                         object
Month                                       float64
MMWR Week                                   float64
Week Ending Date                             object
State                                        object
COVID-19 Deaths                             float64
Total Deaths                                float64
Percent of Expected Deaths                  float64
Pneumonia Deaths                            float64
Pneumonia and COVID-19 Deaths               float64
Influenza Deaths                            float64
Pneumonia, Influenza, or COVID-19 Deaths    float64
Footnote                                     object
Location                                     object
dtype: object

In [8]:
# dropping the rows that are formatted like 2019/2020 for example
data_death = data_death[data_death["Year"].str.contains("/")==False]

In [9]:
# converting year column to an integer 
data_death['Year'] = data_death['Year'].astype(int)

In [10]:
data_death.dtypes

Data as of                                   object
Start Date                                   object
End Date                                     object
Group                                        object
Year                                          int64
Month                                       float64
MMWR Week                                   float64
Week Ending Date                             object
State                                        object
COVID-19 Deaths                             float64
Total Deaths                                float64
Percent of Expected Deaths                  float64
Pneumonia Deaths                            float64
Pneumonia and COVID-19 Deaths               float64
Influenza Deaths                            float64
Pneumonia, Influenza, or COVID-19 Deaths    float64
Footnote                                     object
Location                                     object
dtype: object

We have prepared our two datasets to be merged. We will be merging on three columns so we ensured that the column types and relevant information aligned.